*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.heading{
  font-size: 60px;
  color:red;
  letter-spacing: 20px;
  font-weight: 600;
}
.sub-heading{
  font-size: 40px;
}
.btn{
  background: transparent;
  font-size:20px;
  border:none;
  cursor: pointer;
  color:#000;
}
.btn:focus{
  outline:none;
}
.open-btn{
position: fixed;
top:10px;
left:10px;
}
.nav{
  position: fixed;
  left:0;
  top:0;
  height: 100vh;
  transform: translateX(-360px);
  transition: transform .3s ease-in-out;
}
.nav-black{
  background-color: #000;
  width: 350px;
  transition-delay: .4s;
}
.nav-black.active{
  transition-delay: 0s;
}
.nav-red{
  background-color: red;
  width:320px;
  transition-delay: .2s;
}
.nav-red.active{
  transition-delay: .2s;
}
.nav-white{
  background-color: #fff;
  width:290px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding:40px 20px;
  transition-delay: 0s;
}
.nav-white.active{
  transition-delay: .4s;
}
.close-btn{
  position: absolute;
  right:20px;
  top:10px;
}
ul{
  list-style-type: none;
}
ul li{
  font-size:20px;
  margin:20px;
}
a{
  color:#000;
  text-decoration: none;

}
.brand{
  width:100%;
  height:100px;
  font-size: 30px;
  color:red;
  text-align: center;
  padding-top:20px;
}
.nav.active{
transform: translateX(0);
}